/* Liste déroulante de tri des scores*/
#triScores {
    padding: 5px;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    background-color: antiquewhite;
    color: black;
    font-size: x-small;
    align-self: flex-start;
}

#triScores:hover {
    border-color: #888;
}

#triScores:focus {
    outline: none;
    border-color: #555;
}

/* STYLE TABLEAU DES SCORES */
#tableauScore, #tableauBody, #tableauScore tr, #tableauScore td, #tableauScore th {
    border: solid;
    border-collapse: collapse;
    text-align: center;
    padding: 0.5rem 2rem;
}

        /* Si petit écran */
        @media screen and (max-width: 899px){
            #tableauScore, #tableauBody, #tableauScore tr, #tableauScore td, #tableauScore th {
                padding: 0.6vh 1.3vw;
            }
        }

#tableauScore thead {
    background-color: antiquewhite;
}

/* Style bouton */
#buttonPageScores {
    font-size: 1.1rem;
    font-family:'Open sans', sans-serif;
    font-weight: 900;
    padding: 0.5rem 5rem;
    margin: 1.5rem;
    background-color: var(--couleurMenu);
    color: var(--texteFonce);
    border-radius: 10px;
    box-shadow: 5px 5px 20px 1px var(--ombre);
    border: 3px solid var(--couleurMenuBorder);
    text-align: center;
    text-decoration: none;
    display: block;
}

    /* Style à la sélection et au clic */
    #buttonPageScores:hover, #buttonPageScores:focus{
        background-color: var(--couleurButtonHover);
    }

    #buttonPageScores:active{
        background-color: var(--couleurButtonActive);
        box-shadow: inset 1px 4px 1px rgba(0,0,0,0.2);
    }

.divButtonPageScores{
    display: inline;
}